@import '../../styles/abstract/variables';

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    &__card {
        background-color: $color-grey-background2;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.25rem 2.5rem;
    }

    &__image {
        margin-bottom: 2rem;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__label {
        align-self: flex-start;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
        margin-top: 1rem;
        font-family: $font-Montserrat;
    }

    &__input {
        width: 100%;
        padding: 1rem;
        border: 1px solid $color-green;
        border-radius: 0.5rem;
        font-family: $font-Montserrat;
        font-size: 1.25rem;
    }

    &__password {
        min-width: 100%;
        margin: 0.5rem 0rem 1.25rem 0rem;

        &-link {
            color: $color-green;
            font-weight: 700;
            text-decoration: none;
        }
    }

    &__button {       
        @include button();
        margin-bottom: 1.25rem;
    }

    &__link-to-register {
        color: $color-white;
        font-weight: 700;
        text-decoration: none;
        align-self: center;

        &:hover{
            text-decoration: underline;
        }
    }

    &__social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.25rem;
    }

    &__icon {
        font-size: 2rem;
        margin-right: 1rem;
        color: $color-white;
        transition: 0.25s;

        &:focus {
            border: 2px solid $color-green;
        }

        &-facebook:hover {
            color: $color-green-dark;
        }

        &-instagram:hover {
            color: $color-green-dark;
        }

        &-whatsapp:hover {
            color: $color-green-dark;
        }

        &-twitter:hover {
            color: $color-green-dark;
        }
    }

}