$color-green: #00bf63;
$color-green-dark: #00a354;
$color-grey-background: #191919;
$color-grey-background2: #202024;
$color-white: #FFFFFF;
$color-black: #000000;

$font-Montserrat: 'Montserrat', sans-serif;